<div class="page-content">
  <p>👋 <strong>Welkom!</strong> Leuk dat je mijn plaats op het internet hebt gevonden!</p>

  <p>🥅 <strong>Missie.</strong> Je kunt mijn missie hierboven zien, net onder mijn naam. Vind je het interessant? Bekijk mijn <a href="{% link mission.html %}">Missie pagina</a>.</p>

  <p>❓ <strong>Nu.</strong> Wil je weten wat me nu boeit? Check mijn <a href="{% link now.html %}">Nu pagina</a>.</p>

  <p>✍️ <strong>Schrijfsels.</strong> Je kan mijn schrijfsels vinden bij "Recente artikelen" hieronder en in het <a href="{% link blog.html %}">volledige</a>. Je kan mijn ietwat oudere schrijfsels vinden op <a href="https://medium.com/@yordiverkroost" target="_blank">mijn Medium pagina</a>.</p>

  <p>🌱 <strong>Tuin.</strong> mijn <a href="/garden"> digitale tuin </a> bestaat uit aantekeningen over onderwerpen die mij interesseren. Maak er een ontspannen wandeling omheen. </p>

  <p>🎵 <strong>Muziek.</strong> Mijn favoriete muziek aller tijden is te vinden op <a href="https://open.spotify.com/playlist/5e8xeye7uObsmfk33qah0o?si=ly5eloggw_atjpytkq" target="_blank">een Spotify -afspeellijst genaamd Favorites</a>. Je kunt alle nummers (zowel nieuw als oud) die ik dit jaar heb ontdekt vinden in <a href="https://open.spotify.com/playlist/1y14qxN6Y7gqieK1SQzP9h?si=f0a1cdb962024f44" target="_blank">de Discoveries -afspeellijst</a>.</p>
</div>