<div class="page-content">
  <p>👋 <strong>Welkom!</strong> Leuk dat je mijn plaats op het internet hebt gevonden!</p>

  <p>❓ <strong>Nu.</strong> Wil je weten wat me nu boeit? Check mijn <a href="{% link now.html %}">Nu pagina</a>.</p>

  <p>✍️ <strong>Schrijfsels.</strong> Je kan mijn schrijfsels vinden bij "Recente artikelen" hieronder en in het <a href="{% link blog.html %}">volledige</a>. Je kan mijn ietwat oudere schrijfsels vinden op <a href="https://medium.com/@yordiverkroost" target="_blank">mijn Medium pagina</a>.</p>

  <p>🎵 <strong>Muziek.</strong> Je kunt alle nummers (zowel nieuw als oud) die ik dit jaar heb ontdekt vinden in <a href="https://open.spotify.com/playlist/5jwlelSfkvjFlu1QGxfsuA?si=a4784db0035f4cd2" target="_blank">de Discoveries -afspeellijst</a>.</p>
</div>