<div class="page-content">
  <p>👋 <strong>Welcome.</strong> Glad you found my place on the internet!</p>

  <p>🥅 <strong>Mission.</strong> You can see my life mission above, just below my name. Do you find it interesting? Check out my <a href="{% link mission.html %}">Mission page</a>.</p>

  <p>❓ <strong>Now.</strong> Would you like to know what excites me right now? Check my <a href="{% link now.html %}">Now page</a>.</p>

  <p>✍️ <strong>Writings.</strong> You can see my writings under "Recent Articles" below and in the <a href="{% link blog.html %}">complete archive</a>. Many of the writings are in English, some are in Dutch. You can find my somewhat older writings at <a href="https://medium.com/@yordiverkroost" target="_blank">my Medium page</a>.</p>

  <p>🌱 <strong>Garden.</strong> My <a href="/garden">Digital Garden</a> consists of notes about topics that interest me. Take a leisurely stroll around it.</p>

  <p>🎵 <strong>Music.</strong> My all-time favorite music can be found at <a href="https://open.spotify.com/playlist/5e8XEYE7uOBsMfK33QAh0O?si=ly5ElOG7TYKgW_aTjPYTkQ" target="_blank"> a Spotify playlist aptly named Favorites</a>. You can find all the songs (both new and old) that I (re)discovered this year in <a href="https://open.spotify.com/playlist/1y14qxN6Y7gqieK1SQzP9h?si=f0a1cdb962024f44" target="_blank">the Discoveries playlist.</a></p>
</div>